---
import Header from "../components/Header.svelte";
import Hero from "../components/Hero.svelte";
import Footer from "../components/Footer.svelte";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.svelte";
import BlocksMain from "../components/BlocksMain.svelte";
import Button from "../components/Button.svelte";
import "../styles/global.css";
import FeaturesGrid from "../components/FeaturesGrid.svelte";
---

<Layout title="Dora, the TipsetExplorer">
  <Header />
  <Hero />
  <main class="px-4 sm:px-16">
    <Section class="md:w-3/4 mx-auto">
      <h2>What does it solve</h2>
      <p class="mb-12 md:mb-24">
        Indexing blockchain events is crucial for dApps as it enables quick and efficient access to
        relevant data stored on the blockchain, which is required for executing Smart Contracts and
        providing a seamless user experience.
        <br />
        <br />
        Without indexing, the process of searching and retrieving data from the blockchain would be slow
        and cumbersome, negatively impacting the functionality and usability of dApps.
      </p>
      <figure class="w-4/5 max-w-fit mx-auto">
        <BlocksMain />
      </figure>
    </Section>
    <Section>
      <h2>Features</h2>
      <p class="mb-10 md:mb-12 md:w-3/4 mx-auto">
        Here are the features that have been currently deployed, you can find more information about
        the technical details on our <a
          class="underline"
          href="https://github.com/finiam/dora-the-tipset-explorer"
          target="_blank"
          rel="noopener"
          >GitHub</a
        > page.
      </p>
      <FeaturesGrid />
    </Section>
  </main>
  <Footer />
</Layout>
