---
import Header from "../components/Header.svelte";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Dora, the Tipset Explorer">
  <Header />
  <main>
    <h1 class="text-white">
      <span class="font-poppins text-yellow">Dora</span>, the TipsetExplorer
    </h1>
  </main>
</Layout>
